@use '@angular/material' as mat;

@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$red-palette,
      ),
      typography: (
        plain-family: 'Inter',
        brand-family: 'Inter',
      ),
      density: 0,
    )
  );
}
