<div class="navigation-item">
  <div class="navigation-item__row">
    @if (item().route) {
      <a
        class="navigation-item__link"
        [routerLink]="item().route"
        [attr.aria-label]="item().label"
      >
        @if (item().icon) {
          <span class="material-icons md-24">{{item().icon}}</span>
        }

        <span class="navigation-item__label">
          {{ item().label }}
        </span>
      </a>
    } @else {
      <button
        class="navigation-item__button"
        type="button"
        [attr.aria-label]="item().label"
      >
        @if (item().icon) {
          <span class="material-icons md-24">{{item().icon}}</span>
        }

        <span class="navigation-item__label">
          {{ item().label }}
        </span>

        @if (item().children?.length) {
          <span class="material-icons md-24">expand_more</span>
        }
      </button>
    }
  </div>

  @if (item().children?.length) {
    <div class="navigation-item__children">
      @for (child of item().children; track child.id) {
        <app-sidebar-item [item]="child" />
      }
    </div>
  }
</div>
