<div class="navigation-item">

  @if (item().route) {
    <a
      class="navigation-item__link"
      [routerLink]="item().route"
    >
      @if (item().icon) {
        <mat-icon
          class="navigation-item__icon"
          [svgIcon]="'t10go-' + item().icon"
          aria-hidden="true"
        />
      }

      <span class="navigation-item__label">
        {{ item().label }}
      </span>
    </a>
  }

  @if (item().children?.length) {
    <div class="navigation-item__children">
      @for (
        child of item().children;
        track child.id
        ) {
        <app-sidebar-item
          [item]="child"
        />
      }
    </div>
  }

</div>
