<header class="app-header">
  <div class="app-header__brand">
    <div class="app-header__logo">
      T10GO
    </div>
  </div>

  <div class="app-header__actions">
    <button
      type="button"
      class="app-header__user"
      aria-label="Open user menu"
    >
      <span class="app-header__avatar">
        U
      </span>

      <span class="app-header__user-info">
        <span class="app-header__user-name">
          User
        </span>

        <span class="app-header__user-email">
          userexample.com
        </span>
      </span>

      <span
        class="app-header__chevron"
        aria-hidden="true"
      >
        ▾
      </span>
    </button>
  </div>
</header>
